body {
  background-color: #23252c;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card-container {
  margin: 0 auto;
  background: #1a1b21;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 15px;
}

.card {
  padding-left: 2em;
  padding-right: 2em;
}

.read-the-docs {
  color: #888;
}
